apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: "2022-05-14T20:31:42Z"
  generation: 1
  labels:
    app: sliit-lab-10
  name: sliit-lab-10
  namespace: default
  resourceVersion: "592"
  uid: 355492e1-d1a1-41bd-9505-85ff75fcffa0
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: sliit-lab-10
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: sliit-lab-10
    spec:
      containers:
        - image: cawizca/sliit-lab-10:d63af8cee766b1ff0442acff053ef0b56caf2267
          imagePullPolicy: Always
          name: sliit-lab-10
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status: {}
